.forecast-icon{
    width: 50px
}

.bg-blue {
    background-color: #214761;
}

header{
background: rgb(43,123,179);
background: linear-gradient(90deg, rgba(43,123,179,1) 0%, rgba(9,9,121,1) 64%, rgba(49,36,96,1) 100%);
width: 100vw;
}